.navbar__search__main.dark {
    position:absolute;
    top: 150px;
    left: 400px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    flex: 1;
    width: 40%;
    padding: 10px 8px 10px 10px;
    height: 25px;
    border: 1px solid lightgray;
    border-radius: 999px;
    box-shadow: 0px 1px 3px 0.2px rgba(0, 0, 0, 0.10);
}
.navbar__search__main {
    display: none;
}

.search-icon-main {
    
    margin-top: 2.5px;
    padding: 3px 5px;
    font-size: 20px;
    background-color: #f48c54;
    /* background-color: #FF7779; */
    color: white;
}

.navbar__search__input {
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid lightgray;
    height: 30px;
    width: 23%;
    border-radius: 999px;
    box-shadow: 0px 1px 3px 0.2px rgba(0, 0, 0, 0.10);
    cursor: pointer;
}

.navbar__search__input:hover {
    background-color: lightgray;
}