.navbar__search__main.dark {
    position:absolute;
    top: 120px;
    left: 20%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    width: 60%;
    padding: 18px 10px;
    height: 25px;
    border: 1px solid lightgray;
    border-radius: 999px;
    box-shadow: 0px 1px 3px 0.2px rgba(0, 0, 0, 0.10);
}
.navbar__search__main {
    display: none;
}

.search-icon-main {
    display: flex;
    font-size: 22px;
    justify-content: center;
    background-color: #E37F0E;
    color: white;
}

.search-icon-main h4{
    margin-left: 8px;
}

.navbar__search__input {
    display: flex;
    /* box-sizing: border-box; */
    align-items: center;
    text-align: center;
    height: 50px;
    width: 23%;
    border: none;
    border-radius: 999px;
    cursor: pointer;
}

.navbar__search__input:hover {
    background-color: #E37F0E;
}

.date-range {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.date-range-mainsearch {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
}

.nice-dates {
    width: 50%
}

.navbar__search__input__nice_date {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 50%;
    border: none;
    border-radius: 999px;
    cursor: pointer;
}

.navbar__search__input__nice_date:hover {
    background-color: #E37F0E;
}



.navbar__search__main .nice-dates-popover {
  box-shadow: none;
  border: 1px solid #ddd;
  border-radius: 20px;
  position: absolute;
  /* background-color: lightpink; */
  /* background-image: url("https://empirebnb.s3.us-east-2.amazonaws.com/ny__images/420201.jpg"); */

}
