.navbar__search__main.dark {
    position:absolute;
    top: 120px;
    left: 20%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    width: 60%;
    padding: 18px 10px;
    height: 25px;
    border: 1px solid lightgray;
    border-radius: 999px;
    box-shadow: 0px 1px 3px 0.2px rgba(0, 0, 0, 0.10);
}
.navbar__search__main {
    display: none;
}

.search-icon-main {
    display: flex;
    margin-top: 2.5px;
    padding: 3px 5px;
    font-size: 22px;
    justify-content: center;
    background-color: #f48c54;
    color: white;
}

.search-icon-main h4{
    margin-left: 8px;
}

.navbar__search__input {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 23%;
    border: none;
    border-radius: 999px;
    cursor: pointer;
}

.navbar__search__input:hover {
    background-color: #f4744c;
}
