.city__card {
    margin: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    /* cursor: pointer; */
}

.city__image > img {
    border-radius: 10px;
    object-fit: fill;
    max-width: 64px;
    max-height: 64px;
    width: 100%;
}

.city__info {
    align-self: center;
    padding: 0px 20px;
    line-height: 8px;
}

.city__info > h3 {
    font-size: 14px;
}

.city__info > p {
    font-size: 14px;
    padding-top: 10px
}
