.city__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    padding: 20px 80px 0px 80px;
    color: black;
    /* background-color: #FFFCF2; */
    background-color: #FEFCFB;
}

.tile__container {
    display: flex;
    padding: 20px 80px 10px 80px;
    position: relative;
}

.tile__title {
    font-size: 32px;
    padding: 40px 90px 0px 90px;
}


/* A DIV THAT IS HIDDEN */
/* #live_anywhere, #featured_homes {
    /* position: absolute; */
    /* top: -150px; */
/* } */

.getAway_poster {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding-top: 20px;
}
.getAway_poster img{
    opacity: 0.83;
    justify-content: center;
    width: 88%;
    /* padding: 40px 90px 0px 90px; */
    height: 500px;
    border-radius: 10px;
    /* object-fit: cover; */
}
.outdoorBanner_text{
    color: #FEFCFB;
    position: absolute;
    left:10%;
    margin-top: 40px;

}

.outdoorBanner_text h1{
    font-size: 49px;
    font-weight: 600;
}
.outdoorBanner_text p{
    margin-top: -20px;
}
.outdoorBanner_text button{
    background-color: #FEFCFB;
    padding: 14px 24px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 50px;

}

body {
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
