
.review_container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;

}
.review_title{
    padding-top: 10px;

}

.review_title h1{
    font-size: 24px;
}

.review_textarea{
    padding-top: 120px;
}
.review_textarea h2{
    font-size: 20px;
}
.review_textarea p {
    margin-top: 10px;
}

.review_textarea textarea {
    margin-top: 20px;
    width: 100%;
}
.review_button {
    padding-top: 10px;

}
.review_button button{
    border: none;
    background-color: #f48c54;
    height: 40px;
    width: 100px;
    color: white;
    font-weight: 600;
    border-radius: 20px;

}
