.review_form{
    /* background-color: blueviolet; */
    padding: 20px;
    height: 500px;
    width: 600px;
    border-radius: 20px;
}
.review_container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;

}
.review_title{
    padding-top: 10px;

}

.review_title h1{
    font-size: 24px;
}

.review_textarea{
    padding-top: 40px;
}
.review_textarea h2{
    font-size: 20px;
}
.review_textarea p {
    margin-top: 10px;
}

.review_textarea textarea {
    margin-top: 10px;
    width: 100%;
}
.review_button {
    padding-top: 10px;

}
.review_button button{
    border: none;
    background-color: #f48c54;
    height: 40px;
    width: 100px;
    color: white;
    font-weight: 600;
    border-radius: 20px;

}

/* .fa-color {
    color: white;
} */

.review-rating > label{
    color: #ebebeb;
    padding-top: 20px;
}

input[type="radio"]{
    display: none;
}

input[type="radio"]:checked ~ label {
    color:gold
}

input[type="radio"]:hover ~ label {
    color: gold;
}

.review-rating {

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rating-text{
    padding-top: 20px;
}
